mixin foot(ft)
	-var m=true
	if ft
		.container.white
			.container(style="color:#fff !important; text-align:center !important") COMSERV © #{new Date().getFullYear()}<i class="hide-on-small-only", style="font-size:14px !important; display: inline"> todos direitos reservados </i>