extends layout
block content
	.row
		form(id="msform", method="post", style="color:#12375c;")
			fieldset#recolherdados(detalhessession="#{NomeSession}")
				h1(class="fs-title" style="margin-top:5px; margin-bottom:30px; border-bottom: 5px solid #a1c861 !important;") <span data-i18n="demo.gerador_form.disclosure"></span> 
				.row#recolhernome(detalhessession="#{NomeSession}")
					.row
						.col.s3
							h2(class="fs-title" style="text-transform:none; margin-top:0px") <span data-i18n="demo.gerador_form.pergunta1"></span>
						.col.s3
							input.bom(type="radio" id="pergunta1yes" name="pergunta1"  value="Yes")
							label(for="pergunta1yes") Yes					
						.col.s3
							input.mau(type="radio", id="pergunta1no", name='pergunta1', value="No")
							label(for="pergunta1no") No	
					.row
						.col.s3
							h2(class="fs-title" style="text-transform:none; margin-top:0px") <span data-i18n="demo.gerador_form.pergunta2"></span>
						.col.s3
							input.bom(type="radio" id="pergunta2yes" name="pergunta2"  value="Yes")
							label(for="pergunta2yes") Yes					
						.col.s3
							input.mau(type="radio", id="pergunta2no", name='pergunta2', value="No")
							label(for="pergunta2no") No
					.row
						.col.s3
							h2(class="fs-title" style="text-transform:none; margin-top:0px") <span data-i18n="demo.gerador_form.pergunta3"></span>
						.col.s3
							input.bom(type="radio" id="pergunta3yes" name="pergunta3"  value="Yes")
							label(for="pergunta3yes") Yes					
						.col.s3
							input.mau(type="radio", id="pergunta3no", name='pergunta3', value="No")
							label(for="pergunta3no") No
				input(type="button", name="previous", class="previous action-button", value="<< Prev")
				input(type="button", name="next", class="next action-button", value="Next >>")
			fieldset
				.row 
					h1(class="fs-title" style="margin-top:5px; margin-bottom:30px; border-bottom: 5px solid #a1c861 !important;") <span data-i18n="demo.gerador_form.disclosure"></span> 
					.row
					.col.s4
						h2(class="fs-title" style="text-transform:none; margin-top:0px") <span data-i18n="demo.gerador_form.pergunta4"></span>
					.col.s3
						input.bom(type="radio" id="pergunta4yes" name="pergunta4"  value="Yes")
						label(for="pergunta4yes") Yes					
					.col.s3
						input.mau(type="radio", id="pergunta4no", name='pergunta4', value="No")
						label(for="pergunta4no") No
					.row
					.col.s4
						h2(class="fs-title" style="text-transform:none; margin-top:0px") <span data-i18n="demo.gerador_form.pergunta5"></span>
					.col.s3
						input.bom(type="radio" id="pergunta5yes" name="pergunta5"  value="Yes")
						label(for="pergunta5yes") Yes					
					.col.s3
						input.mau(type="radio", id="pergunta5no", name='pergunta5', value="No")
						label(for="pergunta5no") No
					.row 
					.col.s4
						h2(class="fs-title" style="text-transform:none; margin-top:0px") <span data-i18n="demo.gerador_form.pergunta6"></span>
					.col.s3
						input.bom(type="radio" id="pergunta6yes" name="pergunta6"  value="mensal")
						label(for="pergunta6yes") Yes					
					.col.s3
						input.mau(type="radio", id="pergunta6no", name='pergunta6', value="anual")
						label(for="pergunta6no") No
				.row
				input(type="button", name="previous", class="previous action-button", value="<< Prev")
				input(type="button", name="next", class="next action-button", value="Next >>")
			fieldset
				.row
					h1(class="fs-title" style="margin-top:5px; margin-bottom:30px; border-bottom: 5px solid #a1c861 !important;") <span data-i18n="demo.gerador_form.disclosure"></span> 
					.row
					.col.s4
						h2(class="fs-title" style="text-transform:none; margin-top:0px") <span data-i18n="demo.gerador_form.pergunta7"></span>
					.col.s3
						input.bom(type="radio" id="pergunta7yes" name="pergunta7"  value="mensal")
						label(for="pergunta7yes") Yes					
					.col.s3
						input.mau(type="radio", id="pergunta7no", name='pergunta7', value="anual")
						label(for="pergunta7no") No
					.row
					.col.s4
						h2(class="fs-title" style="text-transform:none; margin-top:0px") <span data-i18n="demo.gerador_form.pergunta8"></span>
					.col.s3
						input.bom(type="radio" id="pergunta8yes" name="pergunta8"  value="mensal")
						label(for="pergunta8yes") Yes					
					.col.s3
						input.mau(type="radio", id="pergunta8no", name='pergunta8', value="anual")
						label(for="pergunta8no") No
					.row
					.col.s4
						h2(class="fs-title" style="text-transform:none; margin-top:0px") <span data-i18n="demo.gerador_form.pergunta9"></span>
					.col.s3
						input.bom(type="radio" id="pergunta9yes" name="pergunta9"  value="mensal")
						label(for="pergunta9yes") Yes					
					.col.s3
						input.mau(type="radio", id="pergunta9no", name='pergunta9', value="anual")
						label(for="pergunta9no") No
				.row
				input(type="button", name="previous", class="previous action-button", value="<< Prev")
				input#trocabotoes(type="button", name="next", class="next action-button", value="Next >>")
			fieldset
				.row
					h1(class="fs-title" style="margin-top:5px; margin-bottom:30px; border-bottom: 5px solid #a1c861 !important;") <span data-i18n="demo.inquerito_form.disclosure"></span> 
					.row 
					.col.s4
						h2(class="fs-title" style="text-transform:none; margin-top:0px") <span data-i18n="demo.gerador_form.pergunta10"></span>
					.col.s3
						input.bom(type="radio" id="pergunta10yes" name="pergunta10"  value="mensal")
						label(for="pergunta10yes") Yes					
					.col.s3
						input.mau(type="radio", id="pergunta10no", name='pergunta10', value="anual")
						label(for="pergunta10no") No
					.row
					.col.s4
						h2(class="fs-title" style="text-transform:none; margin-top:0px") <span data-i18n="demo.gerador_form.pergunta11"></span>				
					.col.s3
						input.bom(type="radio" id="pergunta11yes" name="pergunta11"  value="mensal")
						label(for="pergunta11yes") Yes					
					.col.s3
						input.mau(type="radio", id="pergunta11yno", name='pergunta11', value="anual")
						label(for="pergunta11yno") No
					.row 
					.col.s4
						h2(class="fs-title" style="text-transform:none; margin-top:0px") <span data-i18n="demo.gerador_form.pergunta12"></span>
					.col.s3
						input.bom(type="radio" id="pergunta12yes" name="pergunta12"  value="mensal")
						label(for="pergunta12yes") Yes					
					.col.s3
						input.mau(type="radio", id="pergunta12yno", name='pergunta12', value="anual")
						label(for="pergunta12yno") No
				.row 
				input(type="button", name="previous", class="previous action-button", value="<< Prev")
				input#trocabotoes(type="button", name="next", class="next action-button", value="Next >>")

			fieldset
				.row 
					h1(class="fs-title" style="margin-top:5px; margin-bottom:30px; border-bottom: 5px solid #a1c861 !important;") <span data-i18n="demo.gerador_form.disclosure"></span> 
					.row 
					.col.s4
						h2(class="fs-title" style="text-transform:none; margin-top:0px") <span data-i18n="demo.gerador_form.pergunta13"></span>
					.col.s3
						input.bom(type="radio" id="pergunta13yes" name="pergunta13"  value="mensal")
						label(for="pergunta13yes") Mensal					
					.col.s3
						input.mau(type="radio", id="pergunta13yno", name='pergunta13', value="anual")
						label(for="pergunta13yno") Anual
					.row
					.col.s4
						h2(class="fs-title" style="text-transform:none; margin-top:0px") <span data-i18n="demo.gerador_form.pergunta14"></span>
					.col.s3
						input.bom(type="radio" id="pergunta14yes" name="pergunta14"  value="mensal")
						label(for="pergunta14yes") Mensal					
					.col.s3
						input.mau(type="radio", id="pergunta14yno", name='pergunta14', value="anual")
						label(for="pergunta14yno") Anual
				.row 
				input(type="button", name="previous", class="previous action-button", value="<< Prev")
				input#trocabotoes(type="button", name="next", class="next action-button", value="Next >>")
			
			fieldset
				h1(class="fs-title" ) <span data-i18n="demo.gerador_form.disclosure"></span> 
					.row#mostrardetalhespergunta
						h3(class="fs-title selmecAzul" style="margin-top:5px; margin-bottom:30px; border-bottom: 5px solid #a1c861 !important;") <span data-i18n="demo.gerador_form.detalhes"></span>
						.row
							.col.s4
								h2(class="fs-title" style="text-transform:none") <span data-i18n="demo.gerador_form.horaFuncionamento"></span>
							.col.s3
								input( autocomplete="off", type="text", style="font-family:;color:#12375c" ,id="pergunta3details" ,name="pergunta3details")
						.row
							.col.s4
								h2(class="fs-title" style="text-transform:none") <span data-i18n="demo.gerador_form.tempoAtraso"></span>
							.col.s3
								input( autocomplete="off", type="text", style="font-family:;color:#12375c" ,id="pergunta3details" ,name="pergunta3details")
						.row 
							.col.s4
								h2(class="fs-title" style="text-transform:none") <span data-i18n="demo.gerador_form.amperagem"></span>
							.col.s3
								input( autocomplete="off", type="text", style="font-family:;color:#12375c" ,id="pergunta3details" ,name="pergunta3details")
				.row 
				input(type="button", name="previous", class="previous action-button", value="<< Prev")
				input#trocabotoes(type="button", name="next", class="next action-button", value="Next >>")
					
			fieldset
				h1(class="fs-title") <span data-i18n="demo.gerador_form.disclosure"></span> 
					.row#mostrardetalhespergunta
						h3(class="fs-title selmecAzul" style="margin-top:5px; margin-bottom:30px; border-bottom: 5px solid #a1c861 !important;") <span data-i18n="demo.gerador_form.detalhes"></span>
						.row
							.col.s4
								h2(class="fs-title" style="text-transform:none") <span data-i18n="demo.gerador_form.voltagem"></span>
							.col.s3
								input( autocomplete="off", type="text", style="font-family:;color:#12375c" ,id="pergunta3details" ,name="pergunta3details")
						.row
							.col.s4
								h2(class="fs-title" style="text-transform:none") <span data-i18n="demo.gerador_form.frequencia"></span>
							.col.s3
								input( autocomplete="off", type="text", style="font-family:;color:#12375c" ,id="pergunta3details" ,name="pergunta3details")
						.row 
							.col.s4
								h2(class="fs-title" style="text-transform:none") <span data-i18n="demo.gerador_form.prm"></span>
							.col.s3
								input( autocomplete="off", type="text", style="font-family:;color:#12375c" ,id="pergunta3details" ,name="pergunta3details")
				.row 
				input(type="button", name="previous", class="previous action-button", value="<< Prev")
				input#trocabotoes(type="button", name="next", class="next action-button", value="Next >>")
			fieldset
				h1(class="fs-title") <span data-i18n="demo.gerador_form.disclosure"></span> 
					.row#mostrardetalhespergunta
						h3(class="fs-title selmecAzul" style="margin-top:5px; margin-bottom:30px; border-bottom: 5px solid #a1c861 !important;") <span data-i18n="demo.gerador_form.detalhes"></span>
						.row
							.col.s4
								h2(class="fs-title" style="text-transform:none") <span data-i18n="demo.gerador_form.voltagemBateria"></span>
							.col.s3
								input( autocomplete="off", type="text", style="font-family:;color:#12375c" ,id="pergunta3details" ,name="pergunta3details")
						.row
							.col.s4
								h2(class="fs-title" style="text-transform:none") <span data-i18n="demo.gerador_form.tempCoolante"></span>
							.col.s3
								input( autocomplete="off", type="text", style="font-family:;color:#12375c" ,id="pergunta3details" ,name="pergunta3details")
						.row 
							.col.s4
								h2(class="fs-title" style="text-transform:none") <span data-i18n="demo.gerador_form.tempOleo"></span>
							.col.s3
								input( autocomplete="off", type="text", style="font-family:;color:#12375c" ,id="pergunta3details" ,name="pergunta3details")
						.row 
							.col.s4
								h2(class="fs-title" style="text-transform:none") <span data-i18n="demo.gerador_form.pressaoOleo"></span>
							.col.s3
								input( autocomplete="off", type="text", style="font-family:;color:#12375c" ,id="pergunta3details" ,name="pergunta3details")
				.row 
				input(type="button", name="previous", class="previous action-button", value="<< Prev")
				input#trocabotoes(type="button", name="next", class="next action-button", value="Next >>")

			fieldset
				h1(class="fs-title") <span data-i18n="demo.gerador_form.disclosure"></span> 
					.row#mostrardetalhespergunta
						h3(class="fs-title selmecAzul" style="margin-top:5px; margin-bottom:30px; border-bottom: 5px solid #a1c861 !important;") <span data-i18n="demo.gerador_form.detalhes"></span>
						.row
							.col.s3
								h2(class="fs-title" style="text-transform:none") <span data-i18n="demo.gerador_form.observacoes"></span>
							.col.s12
								input( autocomplete="off", type="text", style="font-family:;color:#12375c" ,id="pergunta3details" ,name="pergunta3details")
					

				.row 
				input(type="button", name="previous", class="previous action-button", value="<< Prev")
				input.captarinqueritoclima(type="submit", name="submit", class="submit action-button", value="Save" data-user-new="#{Projects}")
				//-input#captarinquerito(type="button", name="save", class="submit action-button", value="Save")

	block js
		script.
			//jQuery time
			var current_fs, next_fs, previous_fs; //fieldsets
			var left, opacity, scale; //fieldset properties which we will animate
			var animating; //flag to prevent quick multi-click glitches

			$(".next").click(function(){
			if(animating) return false;
			animating = true;

			current_fs = $(this).parent();
			next_fs = $(this).parent().next();

			//activate next step on progressbar using the index of next_fs
			$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

			//show the next fieldset
			next_fs.show(); 
			//hide the current fieldset with style
			current_fs.animate({opacity: 0}, {
			step: function(now, mx) {
			//as the opacity of current_fs reduces to 0 - stored in "now"
			//1. scale current_fs down to 80%
			scale = 1 - (1 - now) * 0.2;
			//2. bring next_fs from the right(50%)
			left = (now * 50)+"%";
			//3. increase opacity of next_fs to 1 as it moves in
			opacity = 1 - now;
			current_fs.css({
			'transform': 'scale('+scale+')',
			'position': 'relative'
			});
			next_fs.css({'left': left, 'opacity': opacity});
			}, 
			duration: 800, 
			complete: function(){
			current_fs.hide();
			animating = false;
			}, 
			//this comes from the custom easing plugin
			easing: 'easeInOutBack'
			});
			});

			$(".previous").click(function(){
			if(animating) return false;
			animating = true;

			current_fs = $(this).parent();
			previous_fs = $(this).parent().prev();

			//de-activate current step on progressbar
			$("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

			//show the previous fieldset
			previous_fs.show(); 
			//hide the current fieldset with style
			current_fs.animate({opacity: 0}, {
			step: function(now, mx) {
			//as the opacity of current_fs reduces to 0 - stored in "now"
			//1. scale previous_fs from 80% to 100%
			scale = 0.8 + (1 - now) * 0.2;
			//2. take current_fs to the right(50%) - from 0%
			left = ((1-now) * 50)+"%";
			//3. increase opacity of previous_fs to 1 as it moves in
			opacity = 1 - now;
			current_fs.css({'left': left});
			previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
			}, 
			duration: 800, 
			complete: function(){
			current_fs.hide();
			animating = false;
			}, 
			//this comes from the custom easing plugin
			easing: 'easeInOutBack'
			});
			});

			$(".submit").click(function(){
			return false;
			})

			setInterval(function(){document.getElementById("inqueritoId").className="activarAzul"}, 50);
			setTimeout(function(){
			if(window.innerWidth<780){
			document.getElementById("mySidebar").style.width = "0";
			document.getElementById("main").style.marginLeft= "0";
			document.getElementById("main").style.width="100%";
			document.getElementById("main").style.marginBottom="0";
			document.getElementByClassName("capitalize").style.class="pequeno";
			}
			}, 50);