extends layout
block content
	.container(style="padding-top:35px")
		.row
			h1.center-align.selmecAzul.bold(style="font-size: 1.5em") <span data-i18n="demo.manutencao_form.projects"></span>
		.col.m4.s6
			.card.hover-reveal.personalised#verJobcardProjectsNew
				.card-image.waves-block
					img.icn(src="/img/ttnumber_new.png" style="width:100px" )
				.card-content
					h6.bold <span data-i18n="demo.ttnumber_form.newttnumber"></span>
					h5 #{CountNew}
		.col.m4.s6
			.card.hover-reveal.personalised#verJobcardProjectsOnprogress
				.card-image.waves-block
					img.icn(src="/img/ttnumber_onprogress.png" style="width:100px" data-activates='dropdown2')
				.card-content
					h6.bold <span data-i18n="demo.ttnumber_form.onprogressttnumber"></span>
					h5 #{CountInprogress}
		.col.m4.s6
			.card.hover-reveal.personalised#verJobcardProjectsComplete
				.card-image.waves-block
					img.icn(src="/img/ttnumber_complete.png" style="width:100px" data-activates='dropdown2')
				.card-content
					h6.bold <span data-i18n="demo.ttnumber_form.completettnumber"></span>
					h5 #{CountComplete}
		.col.m4.s6
			.card.hover-reveal.personalised#verJobcardProjectsInvoiced.hide
				.card-image.waves-block
					img.icn(src="/img/tobeinvoiced.png" style="width:100px" data-activates='dropdown2')
				.card-content
					h6.bold <span data-i18n="demo.ttnumber_form.tobeinvoiced"></span>
	block js
		script(type="text/javascript" src="/js/jquery.mask.js")
		script.
			setInterval(function(){document.getElementById("geradorId").className="activarAzul"}, 50);
			setTimeout(function(){
			if(window.innerWidth<780){
			document.getElementById("mySidebar").style.width = "0";
			document.getElementById("main").style.marginLeft= "0";
			document.getElementById("main").style.width="100%";
			document.getElementById("main").style.marginBottom="0";
			document.getElementByClassName("capitalize").style.class="pequeno";
			}
			}, 50);