extends layout
block content
	if(Jobcards[0].jobcardenvironmental != undefined)
		form(id="msform", method="post", style="color:#12375c;")
			h3(class="fs-title" style="margin-top:20px; margin-bottom:20px; border-bottom: 5px solid #a1c861 !important;") <span data-i18n="demo.preventative_maint.environmental"></span>
			.row(style="margin-bottom:18px;")
				h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.preventative_maint.siteerosion"></span>
				.col.s3.m3(style="margin-left:37px;")
					-if(Jobcards[0].jobcardenvironmental.jobcard_siteerosion=="ok")
						input.bom(type="radio" id="jobcard_siteerosionok" name="jobcard_siteerosion"  value="ok" checked)
					-else
						input.bom(type="radio" id="jobcard_siteerosionok" name="jobcard_siteerosion"  value="ok")
					label(for="jobcard_siteerosionok") Ok	
				.col.s3.m3
					-if(Jobcards[0].jobcardenvironmental.jobcard_siteerosion=="not ok")
						input.mau(type="radio", id="jobcard_siteerosionnotok", name='jobcard_siteerosion', value="not ok" checked)
					-else
						input.mau(type="radio", id="jobcard_siteerosionnotok", name='jobcard_siteerosion', value="not ok")
					label(for="jobcard_siteerosionnotok") Not Ok
				.col.s3.m3
					-if(Jobcards[0].jobcardenvironmental.jobcard_siteerosion=="na")
						input.moderado(type="radio", id="jobcard_siteerosionna", name='jobcard_siteerosion', value="na" checked)
					-else
						input.moderado(type="radio", id="jobcard_locksgatena", name='jobcard_locksgate', value="na")
					label(for="jobcard_siteerosionna") N/A
			.row(style="margin-bottom:18px;")
				h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.preventative_maint.groundcover"></span>
				.col.s3.m3(style="margin-left:37px;")
					-if(Jobcards[0].jobcardenvironmental.jobcard_groundcover=="ok")
						input.bom(type="radio" id="jobcard_groundcoverok" name="jobcard_groundcover"  value="ok" checked)
					-else
						input.bom(type="radio" id="jobcard_groundcoverok" name="jobcard_groundcover"  value="ok")
					label(for="jobcard_groundcoverok") Ok	
				.col.s3.m3
					-if(Jobcards[0].jobcardenvironmental.jobcard_groundcover=="not ok")
						input.mau(type="radio", id="jobcard_groundcovernotok", name='jobcard_groundcover', value="not ok" checked)
					-else
						input.mau(type="radio", id="jobcard_groundcovernotok", name='jobcard_groundcover', value="not ok")
					label(for="jobcard_groundcovernotok") Not Ok
				.col.s3.m3
					-if(Jobcards[0].jobcardenvironmental.jobcard_groundcover=="na")
						input.moderado(type="radio", id="jobcard_groundcoverna", name='jobcard_groundcover', value="na" checked)
					-else
						input.moderado(type="radio", id="jobcard_groundcoverna", name='jobcard_groundcover', value="na")
					label(for="jobcard_groundcoverna") N/A
			.row(style="margin-bottom:18px;")
				h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.preventative_maint.oildiesel"></span>
				.col.s3.m3(style="margin-left:37px;")
					-if(Jobcards[0].jobcardenvironmental.jobcard_oildiesel=="ok")
						input.bom(type="radio" id="jobcard_oildieselok" name="jobcard_oildiesel"  value="ok" checked)
					-else
						input.bom(type="radio" id="jobcard_oildieselok" name="jobcard_oildiesel"  value="ok")
					label(for="jobcard_oildieselok") Ok	
				.col.s3.m3
					-if(Jobcards[0].jobcardenvironmental.jobcard_oildiesel=="not ok")
						input.mau(type="radio", id="jobcard_oildieselnotok", name='jobcard_oildiesel', value="not ok" checked)
					-else
						input.mau(type="radio", id="jobcard_oildieselnotok", name='jobcard_oildiesel', value="not ok")
					label(for="jobcard_oildieselnotok") Not Ok
				.col.s3.m3
					-if(Jobcards[0].jobcardenvironmental.jobcard_oildiesel=="na")
						input.moderado(type="radio", id="jobcard_oildieselna", name='jobcard_oildiesel', value="na" checked)
					-else
						input.moderado(type="radio", id="jobcard_oildieselna", name='jobcard_oildiesel', value="na")
					label(for="jobcard_oildieselna") N/A
			.row(style="margin-bottom:18px;")
				h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.preventative_maint.overallsite"></span>
				.col.s3.m3(style="margin-left:37px;")
					-if(Jobcards[0].jobcardenvironmental.jobcard_overallsite=="ok")
						input.bom(type="radio" id="jobcard_overallsiteok" name="jobcard_overallsite"  value="ok" checked)
					-else
						input.bom(type="radio" id="jobcard_overallsiteok" name="jobcard_overallsite"  value="ok")
					label(for="jobcard_overallsiteok") Ok	
				.col.s3.m3
					-if(Jobcards[0].jobcardenvironmental.jobcard_overallsite=="not ok")
						input.mau(type="radio", id="jobcard_overallsitenotok", name='jobcard_overallsite', value="not ok" checked)
					-else
						input.mau(type="radio", id="jobcard_overallsitenotok", name='jobcard_overallsite', value="not ok")
					label(for="jobcard_overallsitenotok") Not Ok
				.col.s3.m3
					-if(Jobcards[0].jobcardenvironmental.jobcard_overallsite=="na")
						input.moderado(type="radio", id="jobcard_overallsitena", name='jobcard_overallsite', value="na" checked)
					-else
						input.moderado(type="radio", id="jobcard_overallsitena", name='jobcard_overallsite', value="na")
					label(for="jobcard_overallsitena") N/A
			.row(style="margin-bottom:18px;")
				.col.s12.m12.input-field
					label(for="jobcard_environmentalcomments") <span data-i18n="demo.preventative_maint.comentarios"></span>
					input( autocomplete="off", type="text", style="font-family:;color:#12375c" ,id="jobcard_environmentalcomments" ,name="jobcard_environmentalcomments" value="#{Jobcards[0].jobcardenvironmental.jobcard_environmentalcomments}")
			a(class="waves-effect waves-light action-button" style="width:100px; font-size:15px" href="/manutencao/detalhesJobcardPlanned/#{Jobcards[0]._id}") << Back
	else
		h3(class="fs-title selmecAzul center" style="margin-top:20px; margin-bottom:22px; border-bottom: 5px solid #a1c861 !important;") <span data-i18n="demo.preventative_maint.environmental"></span>
		form#formulario2(style="margin:0px; color:#12375c;" dataref="#{Jobcards[0]._id}")
			fieldset(style="padding:0px")
				h3(class="fs-title") <span data-i18n="demo.preventative_maint.siteerosion"></span>
				.row.center(style="margin-bottom:20px")
					.col.s5.m3
						input.bom(type="radio" id="jobcard_siteerosionok" name="jobcard_siteerosion"  value="ok")
						label(for="jobcard_siteerosionok") Ok					
					.col.s5.m3
						input.mau(type="radio", id="jobcard_siteerosionnotok", name='jobcard_siteerosion', value="not ok")
						label(for="jobcard_siteerosionnotok") Not Ok
					.col.s5.m3
						input.moderado(type="radio", id="jobcard_siteerosionna", name='jobcard_siteerosion', value="na")
						label(for="jobcard_siteerosionna") N/A
				input(type="button", name="next", class="next action-button", value="Next >>")
			fieldset(style="padding:0px")
				h3(class="fs-title") <span data-i18n="demo.preventative_maint.groundcover"></span>
				.row.center(style="margin-bottom:20px")
					.col.s5.m3
						input.bom(type="radio" id="jobcard_groundcoverok" name="jobcard_groundcover"  value="ok")
						label(for="jobcard_groundcoverok") Ok					
					.col.s5.m3
						input.mau(type="radio", id="jobcard_groundcovernotok", name='jobcard_groundcover', value="not ok")
						label(for="jobcard_groundcovernotok") Not Ok
					.col.s5.m3
						input.moderado(type="radio", id="jobcard_groundcoverna", name='jobcard_groundcover', value="na")
						label(for="jobcard_groundcoverna") N/A
				input(type="button", name="previous", class="previous action-button", value="<< Prev")
				input(type="button", name="next", class="next action-button", value="Next >>")
			fieldset(style="padding:0px")
				h3(class="fs-title") <span data-i18n="demo.preventative_maint.oildiesel"></span>
				.row.center(style="margin-bottom:20px")
					.col.s5.m3
						input.bom(type="radio" id="jobcard_oildieselok" name="jobcard_oildiesel"  value="ok")
						label(for="jobcard_oildieselok") Ok					
					.col.s5.m3
						input.mau(type="radio", id="jobcard_oildieselnotok", name='jobcard_oildiesel', value="not ok")
						label(for="jobcard_oildieselnotok") Not Ok
					.col.s5.m3
						input.moderado(type="radio", id="jobcard_oildieselna", name='jobcard_oildiesel', value="na")
						label(for="jobcard_oildieselna") N/A
				input(type="button", name="previous", class="previous action-button", value="<< Prev")
				input(type="button", name="next", class="next action-button", value="Next >>")
			fieldset(style="padding:0px")
				h3(class="fs-title") <span data-i18n="demo.preventative_maint.overallsite"></span>
				.row.center(style="margin-bottom:20px")
					.col.s5.m3
						input.bom(type="radio" id="jobcard_overallsiteok" name="jobcard_overallsite"  value="ok")
						label(for="jobcard_overallsiteok") Ok					
					.col.s5.m3
						input.mau(type="radio", id="jobcard_overallsitenotok", name='jobcard_overallsite', value="not ok")
						label(for="jobcard_overallsitenotok") Not Ok
					.col.s5.m3
						input.moderado(type="radio", id="jobcard_overallsitena", name='jobcard_overallsite', value="na")
						label(for="jobcard_overallsitena") N/A
				input(type="button", name="previous", class="previous action-button", value="<< Prev")
				input(type="button", name="next", class="next action-button", value="Next >>")
			fieldset(style="padding:0px")
				h3(class="fs-title") <span data-i18n="demo.preventative_maint.comentarios"></span>
				.row(style="margin-bottom:20px")
					.col.s12.m12.input-field
						input( autocomplete="off", type="text", style="font-family:;color:#12375c" ,id="jobcard_environmentalcomments" ,name="jobcard_environmentalcomments")
				input(type="button", name="previous", class="previous action-button", value="<< Prev")
				input(type="button", id="jobcardenvironmental_yes_btn", class="action-button" value="Save")
	block js
		script(type="text/javascript" src="/js/jquery.mask.js")
		script.

			//jQuery time
			var current_fs, next_fs, previous_fs; //fieldsets
			var left, opacity, scale; //fieldset properties which we will animate
			var animating; //flag to prevent quick multi-click glitches

			$(".next").click(function(){
			if(animating) return false;
			animating = true;

			current_fs = $(this).parent();
			next_fs = $(this).parent().next();

			//activate next step on progressbar using the index of next_fs
			$("#progressbar2 li").eq($("fieldset").index(next_fs)).addClass("active");

			//show the next fieldset
			next_fs.show(); 
			//hide the current fieldset with style
			current_fs.animate({opacity: 0}, {
			step: function(now, mx) {
			//as the opacity of current_fs reduces to 0 - stored in "now"
			//1. scale current_fs down to 80%
			scale = 1 - (1 - now) * 0.2;
			//2. bring next_fs from the right(50%)
			left = (now * 50)+"%";
			//3. increase opacity of next_fs to 1 as it moves in
			opacity = 1 - now;
			current_fs.css({
			'transform': 'scale('+scale+')',
			'position': 'relative'
			});
			next_fs.css({'left': left, 'opacity': opacity});
			}, 
			duration: 800, 
			complete: function(){
			current_fs.hide();
			animating = false;
			}, 
			//this comes from the custom easing plugin
			easing: 'easeInOutBack'
			});
			});

			$(".previous").click(function(){
			if(animating) return false;
			animating = true;

			current_fs = $(this).parent();
			previous_fs = $(this).parent().prev();

			//de-activate current step on progressbar
			$("#progressbar2 li").eq($("fieldset").index(current_fs)).removeClass("active");

			//show the previous fieldset
			previous_fs.show(); 
			//hide the current fieldset with style
			current_fs.animate({opacity: 0}, {
			step: function(now, mx) {
			//as the opacity of current_fs reduces to 0 - stored in "now"
			//1. scale previous_fs from 80% to 100%
			scale = 0.8 + (1 - now) * 0.2;
			//2. take current_fs to the right(50%) - from 0%
			left = ((1-now) * 50)+"%";
			//3. increase opacity of previous_fs to 1 as it moves in
			opacity = 1 - now;
			current_fs.css({'left': left});
			previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
			}, 
			duration: 800, 
			complete: function(){
			current_fs.hide();
			animating = false;
			}, 
			//this comes from the custom easing plugin
			easing: 'easeInOutBack'
			});
			});

			$(".submit").click(function(){
			return false;
			})

			setInterval(function(){document.getElementById("geradorId").className="activarAzul"}, 50);
			setTimeout(function(){
				
			if(window.innerWidth<780){
			document.getElementById("mySidebar").style.width = "0";
			document.getElementById("main").style.marginLeft= "0";
			document.getElementById("main").style.width="100%";
			document.getElementById("main").style.marginBottom="0";
			document.getElementByClassName("capitalize").style.class="pequeno";
			}
			}, 50);