extends layout
block content
	if(Jobcards[0].jobcardmast != undefined)
		form(id="msform", method="post", style="color:#12375c;")
			h3(class="fs-title" style="margin-top:20px; margin-bottom:20px; border-bottom: 5px solid #a1c861 !important;") <span data-i18n="demo.preventative_maint.mast"></span>
			.row(style="margin-bottom:18px;")
				h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.preventative_maint.awlight"></span>
				.col.s3.m3(style="margin-left:37px;")
					-if(Jobcards[0].jobcardmast.jobcard_awlight=="ok")
						input.bom(type="radio" id="jobcard_awlightok" name="jobcard_awlight"  value="ok" checked)
					-else
						input.bom(type="radio" id="jobcard_awlightok" name="jobcard_awlight"  value="ok")
					label(for="jobcard_awlightok") Ok	
				.col.s3.m3
					-if(Jobcards[0].jobcardmast.jobcard_awlight=="not ok")
						input.mau(type="radio", id="jobcard_awlightnotok", name='jobcard_awlight', value="not ok" checked)
					-else
						input.mau(type="radio", id="jobcard_awlightnotok", name='jobcard_awlight', value="not ok")
					label(for="jobcard_awlightnotok") Not Ok
				.col.s3.m3
					-if(Jobcards[0].jobcardmast.jobcard_awlight=="na")
						input.moderado(type="radio", id="jobcard_awlightna", name='jobcard_awlight', value="na" checked)
					-else
						input.moderado(type="radio", id="jobcard_awlightna", name='jobcard_awlight', value="na")
					label(for="jobcard_awlightna") N/A
			.row(style="margin-bottom:18px;")
				h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.preventative_maint.connectligthswitches"></span>
				.col.s3.m3(style="margin-left:37px;")
					-if(Jobcards[0].jobcardmast.jobcard_connectligthswitches=="ok")
						input.bom(type="radio" id="jobcard_connectligthswitchesok" name="jobcard_connectligthswitches"  value="ok" checked)
					-else
						input.bom(type="radio" id="jobcard_connectligthswitchesok" name="jobcard_connectligthswitches"  value="ok")
					label(for="jobcard_connectligthswitchesok") Ok	
				.col.s3.m3
					-if(Jobcards[0].jobcardmast.jobcard_connectligthswitches=="not ok")
						input.mau(type="radio", id="jobcard_connectligthswitchesnotok", name='jobcard_connectligthswitches', value="not ok" checked)
					-else
						input.mau(type="radio", id="jobcard_connectligthswitchesnotok", name='jobcard_connectligthswitches', value="not ok")
					label(for="jobcard_connectligthswitchesnotok") Not Ok
				.col.s3.m3
					-if(Jobcards[0].jobcardmast.jobcard_connectligthswitches=="na")
						input.moderado(type="radio", id="jobcard_connectligthswitchesna", name='jobcard_connectligthswitches', value="na" checked)
					-else
						input.moderado(type="radio", id="jobcard_connectligthswitchesna", name='jobcard_connectligthswitches', value="na")
					label(for="jobcard_connectligthswitchesna") N/A
			.row(style="margin-bottom:18px;")
				h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.preventative_maint.surgeprotection"></span>
				.col.s3.m3(style="margin-left:37px;")
					-if(Jobcards[0].jobcardmast.jobcard_surgeprotection=="ok")
						input.bom(type="radio" id="jobcard_surgeprotectionok" name="jobcard_surgeprotection"  value="ok" checked)
					-else
						input.bom(type="radio" id="jobcard_surgeprotectionok" name="jobcard_surgeprotection"  value="ok")
					label(for="jobcard_surgeprotectionok") Ok	
				.col.s3.m3
					-if(Jobcards[0].jobcardmast.jobcard_surgeprotection=="not ok")
						input.mau(type="radio", id="jobcard_surgeprotectionnotok", name='jobcard_surgeprotection', value="not ok" checked)
					-else
						input.mau(type="radio", id="jobcard_surgeprotectionnotok", name='jobcard_surgeprotection', value="not ok")
					label(for="jobcard_surgeprotectionnotok") Not Ok
				.col.s3.m3
					-if(Jobcards[0].jobcardmast.jobcard_surgeprotection=="na")
						input.moderado(type="radio", id="jobcard_surgeprotectionna", name='jobcard_surgeprotection', value="na" checked)
					-else
						input.moderado(type="radio", id="jobcard_surgeprotectionna", name='jobcard_surgeprotection', value="na")
					label(for="jobcard_surgeprotectionna") N/A
			.row(style="margin-bottom:18px;")
				h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.preventative_maint.cleaninside"></span>
				.col.s3.m3(style="margin-left:37px;")
					-if(Jobcards[0].jobcardmast.jobcard_cleaninside=="ok")
						input.bom(type="radio" id="jobcard_cleaninsideok" name="jobcard_cleaninside"  value="ok" checked)
					-else
						input.bom(type="radio" id="jobcard_cleaninsideok" name="jobcard_cleaninside"  value="ok")
					label(for="jobcard_cleaninsideok") Ok	
				.col.s3.m3
					-if(Jobcards[0].jobcardmast.jobcard_cleaninside=="not ok")
						input.mau(type="radio", id="jobcard_cleaninsidenotok", name='jobcard_cleaninside', value="not ok" checked)
					-else
						input.mau(type="radio", id="jobcard_cleaninsidenotok", name='jobcard_cleaninside', value="not ok")
					label(for="jobcard_cleaninsidenotok") Not Ok
				.col.s3.m3
					-if(Jobcards[0].jobcardmast.jobcard_cleaninside=="na")
						input.moderado(type="radio", id="jobcard_cleaninsidena", name='jobcard_cleaninside', value="na" checked)
					-else
						input.moderado(type="radio", id="jobcard_cleaninsidena", name='jobcard_cleaninside', value="na")
					label(for="jobcard_cleaninsidena") N/A
			.row(style="margin-bottom:18px;")
				h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.preventative_maint.reportdamage"></span>
				.col.s3.m3(style="margin-left:37px;")
					-if(Jobcards[0].jobcardmast.jobcard_reportdamage=="ok")
						input.bom(type="radio" id="jobcard_reportdamageok" name="jobcard_reportdamage"  value="ok" checked)
					-else
						input.bom(type="radio" id="jobcard_reportdamageok" name="jobcard_reportdamage"  value="ok")
					label(for="jobcard_reportdamageok") Ok	
				.col.s3.m3
					-if(Jobcards[0].jobcardmast.jobcard_reportdamage=="not ok")
						input.mau(type="radio", id="jobcard_reportdamagenotok", name='jobcard_reportdamage', value="not ok" checked)
					-else
						input.mau(type="radio", id="jobcard_reportdamagenotok", name='jobcard_reportdamage', value="not ok")
					label(for="jobcard_reportdamagenotok") Not Ok
				.col.s3.m3
					-if(Jobcards[0].jobcardmast.jobcard_reportdamage=="na")
						input.moderado(type="radio", id="jobcard_reportdamagena", name='jobcard_reportdamage', value="na" checked)
					-else
						input.moderado(type="radio", id="jobcard_reportdamagena", name='jobcard_reportdamage', value="na")
					label(for="jobcard_reportdamagena") N/A
			.row(style="margin-bottom:18px;")
				h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.preventative_maint.sealentries"></span>
				.col.s3.m3(style="margin-left:37px;")
					-if(Jobcards[0].jobcardmast.jobcard_sealentries=="ok")
						input.bom(type="radio" id="jobcard_sealentriesok" name="jobcard_sealentries"  value="ok" checked)
					-else
						input.bom(type="radio" id="jobcard_sealentriesok" name="jobcard_sealentries"  value="ok")
					label(for="jobcard_sealentriesok") Ok	
				.col.s3.m3
					-if(Jobcards[0].jobcardmast.jobcard_sealentries=="not ok")
						input.mau(type="radio", id="jobcard_sealentriesnotok", name='jobcard_sealentries', value="not ok" checked)
					-else
						input.mau(type="radio", id="jobcard_sealentriesnotok", name='jobcard_sealentries', value="not ok")
					label(for="jobcard_sealentriesnotok") Not Ok
				.col.s3.m3
					-if(Jobcards[0].jobcardmast.jobcard_sealentries=="na")
						input.moderado(type="radio", id="jobcard_sealentriesna", name='jobcard_sealentries', value="na" checked)
					-else
						input.moderado(type="radio", id="jobcard_sealentriesna", name='jobcard_sealentries', value="na")
					label(for="jobcard_sealentriesna") N/A
			.row(style="margin-bottom:18px;")
				h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.preventative_maint.mountingsfeeders"></span>
				.col.s3.m3(style="margin-left:37px;")
					-if(Jobcards[0].jobcardmast.jobcard_mountingsfeeders=="ok")
						input.bom(type="radio" id="jobcard_mountingsfeedersok" name="jobcard_mountingsfeeders"  value="ok" checked)
					-else
						input.bom(type="radio" id="jobcard_mountingsfeedersok" name="jobcard_mountingsfeeders"  value="ok")
					label(for="jobcard_mountingsfeedersok") Ok	
				.col.s3.m3
					-if(Jobcards[0].jobcardmast.jobcard_mountingsfeeders=="not ok")
						input.mau(type="radio", id="jobcard_mountingsfeedersnotok", name='jobcard_mountingsfeeders', value="not ok" checked)
					-else
						input.mau(type="radio", id="jobcard_mountingsfeedersnotok", name='jobcard_mountingsfeeders', value="not ok")
					label(for="jobcard_mountingsfeedersnotok") Not Ok
				.col.s3.m3
					-if(Jobcards[0].jobcardmast.jobcard_mountingsfeeders=="na")
						input.moderado(type="radio", id="jobcard_mountingsfeedersna", name='jobcard_mountingsfeeders', value="na" checked)
					-else
						input.moderado(type="radio", id="jobcard_mountingsfeedersna", name='jobcard_mountingsfeeders', value="na")
					label(for="jobcard_mountingsfeedersna") N/A
			.row(style="margin-bottom:18px;")
				h3(class="fs-title" style="margin-bottom:15px;") <span data-i18n="demo.preventative_maint.rustcable"></span>
				.col.s3.m3(style="margin-left:37px;")
					-if(Jobcards[0].jobcardmast.jobcard_rustcable=="ok")
						input.bom(type="radio" id="jobcard_rustcableok" name="jobcard_rustcable"  value="ok" checked)
					-else
						input.bom(type="radio" id="jobcard_rustcableok" name="jobcard_rustcable"  value="ok")
					label(for="jobcard_rustcableok") Ok	
				.col.s3.m3
					-if(Jobcards[0].jobcardmast.jobcard_rustcable=="not ok")
						input.mau(type="radio", id="jobcard_rustcablesnotok", name='jobcard_rustcable', value="not ok" checked)
					-else
						input.mau(type="radio", id="jobcard_rustcablesnotok", name='jobcard_rustcable', value="not ok")
					label(for="jobcard_rustcablesnotok") Not Ok
				.col.s3.m3
					-if(Jobcards[0].jobcardmast.jobcard_rustcable=="na")
						input.moderado(type="radio", id="jobcard_rustcablena", name='jobcard_rustcable', value="na" checked)
					-else
						input.moderado(type="radio", id="jobcard_rustcablena", name='jobcard_rustcable', value="na")
					label(for="jobcard_rustcablena") N/A
			.row(style="margin-bottom:18px;")
				.col.s12.m12.input-field
					label(for="jobcard_mastcomments") <span data-i18n="demo.preventative_maint.comentarios"></span>
					input( autocomplete="off", type="text", style="font-family:;color:#12375c" ,id="jobcard_mastcomments" ,name="jobcard_mastcomments" value="#{Jobcards[0].jobcardmast.jobcard_mastcomments}")
			a(class="waves-effect waves-light action-button" style="width:100px; font-size:15px" href="/manutencao/detalhesJobcardPlanned/#{Jobcards[0]._id}") << Back
	else
		h3(class="fs-title selmecAzul center" style="margin-top:20px; margin-bottom:22px; border-bottom: 5px solid #a1c861 !important;") <span data-i18n="demo.preventative_maint.mast"></span>
		form#formulario2(style="margin:0px; color:#12375c;" dataref="#{Jobcards[0]._id}")
			fieldset(style="padding:0px")
				h3(class="fs-title") <span data-i18n="demo.preventative_maint.awlight"></span>
				.row.center(style="margin-bottom:20px")
					.col.s5.m3
						input.bom(type="radio" id="jobcard_awlightok" name="jobcard_awlight"  value="ok")
						label(for="jobcard_awlightok") Ok					
					.col.s5.m3
						input.mau(type="radio", id="jobcard_awlightnotok", name='jobcard_awlight', value="not ok")
						label(for="jobcard_awlightnotok") Not Ok
					.col.s5.m3
						input.moderado(type="radio", id="jobcard_awlightna", name='jobcard_awlight', value="na")
						label(for="jobcard_awlightna") N/A
				input(type="button", name="next", class="next action-button", value="Next >>")
			fieldset(style="padding:0px")
				h3(class="fs-title") <span data-i18n="demo.preventative_maint.connectligthswitches"></span>
				.row.center(style="margin-bottom:20px")
					.col.s5.m3
						input.bom(type="radio" id="jobcard_connectligthswitchesok" name="jobcard_connectligthswitches"  value="ok")
						label(for="jobcard_connectligthswitchesok") Ok					
					.col.s5.m3
						input.mau(type="radio", id="jobcard_connectligthswitchesnotok", name='jobcard_connectligthswitches', value="not ok")
						label(for="jobcard_connectligthswitchesnotok") Not Ok
					.col.s5.m3
						input.moderado(type="radio", id="jobcard_connectligthswitchesna", name='jobcard_connectligthswitches', value="na")
						label(for="jobcard_connectligthswitchesna") N/A
				input(type="button", name="previous", class="previous action-button", value="<< Prev")
				input(type="button", name="next", class="next action-button", value="Next >>")
			fieldset(style="padding:0px")
				h3(class="fs-title") <span data-i18n="demo.preventative_maint.surgeprotection"></span>
				.row.center(style="margin-bottom:20px")
					.col.s5.m3
						input.bom(type="radio" id="jobcard_surgeprotectionok" name="jobcard_surgeprotection"  value="ok")
						label(for="jobcard_surgeprotectionok") Ok					
					.col.s5.m3
						input.mau(type="radio", id="jobcard_surgeprotectionnotok", name='jobcard_surgeprotection', value="not ok")
						label(for="jobcard_surgeprotectionnotok") Not Ok
					.col.s5.m3
						input.moderado(type="radio", id="jobcard_surgeprotectionna", name='jobcard_surgeprotection', value="na")
						label(for="jobcard_surgeprotectionna") N/A
				input(type="button", name="previous", class="previous action-button", value="<< Prev")
				input(type="button", name="next", class="next action-button", value="Next >>")
			fieldset(style="padding:0px")
				h3(class="fs-title") <span data-i18n="demo.preventative_maint.cleaninside"></span>
				.row.center(style="margin-bottom:20px")
					.col.s5.m3
						input.bom(type="radio" id="jobcard_cleaninsideok" name="jobcard_cleaninside"  value="ok")
						label(for="jobcard_cleaninsideok") Ok					
					.col.s5.m3
						input.mau(type="radio", id="jobcard_cleaninsidenotok", name='jobcard_cleaninside', value="not ok")
						label(for="jobcard_cleaninsidenotok") Not Ok
					.col.s5.m3
						input.moderado(type="radio", id="jobcard_cleaninsidena", name='jobcard_cleaninside', value="na")
						label(for="jobcard_cleaninsidena") N/A
				input(type="button", name="previous", class="previous action-button", value="<< Prev")
				input(type="button", name="next", class="next action-button", value="Next >>")
			fieldset(style="padding:0px")
				h3(class="fs-title") <span data-i18n="demo.preventative_maint.reportdamage"></span>
				.row.center(style="margin-bottom:20px")
					.col.s5.m3
						input.bom(type="radio" id="jobcard_reportdamageok" name="jobcard_reportdamage"  value="ok")
						label(for="jobcard_reportdamageok") Ok					
					.col.s5.m3
						input.mau(type="radio", id="jobcard_reportdamagenotok", name='jobcard_reportdamage', value="not ok")
						label(for="jobcard_reportdamagenotok") Not Ok
					.col.s5.m3
						input.moderado(type="radio", id="jobcard_reportdamagena", name='jobcard_reportdamage', value="na")
						label(for="jobcard_reportdamagena") N/A
				input(type="button", name="previous", class="previous action-button", value="<< Prev")
				input(type="button", name="next", class="next action-button", value="Next >>")
			fieldset(style="padding:0px")
				h3(class="fs-title") <span data-i18n="demo.preventative_maint.sealentries"></span>
				.row.center(style="margin-bottom:20px")
					.col.s5.m3
						input.bom(type="radio" id="jobcard_sealentriesok" name="jobcard_sealentries"  value="ok")
						label(for="jobcard_sealentriesok") Ok					
					.col.s5.m3
						input.mau(type="radio", id="jobcard_sealentriesnotok", name='jobcard_sealentries', value="not ok")
						label(for="jobcard_sealentriesnotok") Not Ok
					.col.s5.m3
						input.moderado(type="radio", id="jobcard_sealentriesna", name='jobcard_sealentries', value="na")
						label(for="jobcard_sealentriesna") N/A
				input(type="button", name="previous", class="previous action-button", value="<< Prev")
				input(type="button", name="next", class="next action-button", value="Next >>")
			fieldset(style="padding:0px")
				h3(class="fs-title") <span data-i18n="demo.preventative_maint.mountingsfeeders"></span>
				.row.center(style="margin-bottom:20px")
					.col.s5.m3
						input.bom(type="radio" id="jobcard_mountingsfeedersok" name="jobcard_mountingsfeeders"  value="ok")
						label(for="jobcard_mountingsfeedersok") Ok					
					.col.s5.m3
						input.mau(type="radio", id="jobcard_mountingsfeedersnotok", name='jobcard_mountingsfeeders', value="not ok")
						label(for="jobcard_mountingsfeedersnotok") Not Ok
					.col.s5.m3
						input.moderado(type="radio", id="jobcard_mountingsfeedersna", name='jobcard_mountingsfeeders', value="na")
						label(for="jobcard_mountingsfeedersna") N/A
				input(type="button", name="previous", class="previous action-button", value="<< Prev")
				input(type="button", name="next", class="next action-button", value="Next >>")
			fieldset(style="padding:0px")
				h3(class="fs-title") <span data-i18n="demo.preventative_maint.rustcable"></span>
				.row.center(style="margin-bottom:20px")
					.col.s5.m3
						input.bom(type="radio" id="jobcard_rustcableok" name="jobcard_rustcable"  value="ok")
						label(for="jobcard_rustcableok") Ok					
					.col.s5.m3
						input.mau(type="radio", id="jobcard_rustcablesnotok", name='jobcard_rustcable', value="not ok")
						label(for="jobcard_rustcablesnotok") Not Ok
					.col.s5.m3
						input.moderado(type="radio", id="jobcard_rustcablena", name='jobcard_rustcable', value="na")
						label(for="jobcard_rustcablena") N/A
				input(type="button", name="previous", class="previous action-button", value="<< Prev")
				input(type="button", name="next", class="next action-button", value="Next >>")
			fieldset(style="padding:0px")
				h3(class="fs-title") <span data-i18n="demo.preventative_maint.comentarios"></span>
				.row(style="margin-bottom:20px")
					.col.s12.m12.input-field
						input( autocomplete="off", type="text", style="font-family:;color:#12375c" ,id="jobcard_mastcomments" ,name="jobcard_mastcomments")
				input(type="button", name="previous", class="previous action-button", value="<< Prev")
				input(type="button", id="jobcardmast_yes_btn", class="action-button" value="Save")
	block js
		script(type="text/javascript" src="/js/jquery.mask.js")
		script.

			//jQuery time
			var current_fs, next_fs, previous_fs; //fieldsets
			var left, opacity, scale; //fieldset properties which we will animate
			var animating; //flag to prevent quick multi-click glitches

			$(".next").click(function(){
			if(animating) return false;
			animating = true;

			current_fs = $(this).parent();
			next_fs = $(this).parent().next();

			//activate next step on progressbar using the index of next_fs
			$("#progressbar2 li").eq($("fieldset").index(next_fs)).addClass("active");

			//show the next fieldset
			next_fs.show(); 
			//hide the current fieldset with style
			current_fs.animate({opacity: 0}, {
			step: function(now, mx) {
			//as the opacity of current_fs reduces to 0 - stored in "now"
			//1. scale current_fs down to 80%
			scale = 1 - (1 - now) * 0.2;
			//2. bring next_fs from the right(50%)
			left = (now * 50)+"%";
			//3. increase opacity of next_fs to 1 as it moves in
			opacity = 1 - now;
			current_fs.css({
			'transform': 'scale('+scale+')',
			'position': 'relative'
			});
			next_fs.css({'left': left, 'opacity': opacity});
			}, 
			duration: 800, 
			complete: function(){
			current_fs.hide();
			animating = false;
			}, 
			//this comes from the custom easing plugin
			easing: 'easeInOutBack'
			});
			});

			$(".previous").click(function(){
			if(animating) return false;
			animating = true;

			current_fs = $(this).parent();
			previous_fs = $(this).parent().prev();

			//de-activate current step on progressbar
			$("#progressbar2 li").eq($("fieldset").index(current_fs)).removeClass("active");

			//show the previous fieldset
			previous_fs.show(); 
			//hide the current fieldset with style
			current_fs.animate({opacity: 0}, {
			step: function(now, mx) {
			//as the opacity of current_fs reduces to 0 - stored in "now"
			//1. scale previous_fs from 80% to 100%
			scale = 0.8 + (1 - now) * 0.2;
			//2. take current_fs to the right(50%) - from 0%
			left = ((1-now) * 50)+"%";
			//3. increase opacity of previous_fs to 1 as it moves in
			opacity = 1 - now;
			current_fs.css({'left': left});
			previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
			}, 
			duration: 800, 
			complete: function(){
			current_fs.hide();
			animating = false;
			}, 
			//this comes from the custom easing plugin
			easing: 'easeInOutBack'
			});
			});

			$(".submit").click(function(){
			return false;
			})

			setInterval(function(){document.getElementById("geradorId").className="activarAzul"}, 50);
			setTimeout(function(){
				
			if(window.innerWidth<780){
			document.getElementById("mySidebar").style.width = "0";
			document.getElementById("main").style.marginLeft= "0";
			document.getElementById("main").style.width="100%";
			document.getElementById("main").style.marginBottom="0";
			document.getElementByClassName("capitalize").style.class="pequeno";
			}
			}, 50);